html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#sketch-container{
  width: 100%;
}

#gui-container{
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
}

.button{
  background-color: #378a45;
  border: solid 1px #378a45;
  border-radius: 10px;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin:0 auto;
  font-size: 16px;
  min-width: 200px;
  cursor: pointer;
}



.button:hover{
  background-color:white;
  color: black;
}

.button.inactive{
  cursor:default;
  background-color: #afdbb7;
  border-color: #afdbb7;
  color: white;
}


